.button {
  display: inline-block;
  margin: 0;
  border-radius: 0;
  border: 1px solid transparent;
  font-size: 16px;
  line-height: 19px;
  padding: 27px 58px;
  outline: none;
  text-transform: none;
  text-align: center;
  text-decoration: none;
  appearance: none;
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.button:hover {
  text-decoration: none;
}
.button:focus {
  outline: none;
}

.button-primary {
  font-weight: bold;
  background-color: #151c22;
  color: #ffffff;
  }

.button-primary:hover {
  color: #151c22;
  background-color: #ffffff;
  border-color: #151c22;
}

.button-wrapper {
  display: flex;
  justify-content: center;
}
