.card-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 13px;
}
.card-image {
   margin-bottom: 22px;
}
.card-image.large > img{
height: 652px;
}
.card-image.small > img{
  height: 270px;
}