.row {
  font-size: 0;
  margin: -28px;
}

.row > .column {
  display: inline-block;
  padding: 28px;
  font-size: 1rem;
  vertical-align: top;
}
.row-large {
  margin: -39.5px;
}
.row-large > .column {
  padding: 39.5px;
}
