.section-noname {
  padding: 70px 0 90px;
}
.section-collection {
  padding-bottom: 90px;
}
.section-title {
  font-weight: bold;
  font-size: 32px;
  line-height: 125%;
  text-align: center;
  margin-bottom: 66px;
}
.section-description {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin-top: 59px;
  margin-bottom: 40px;
}
.section-noname-title {
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  margin-top: 10px;
  margin-bottom: 70px;
}
